@charset"UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&display=swap');

@font-face {
  font-family: 'FonteLogo';
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
}


body {
  background: #E4B124;
  background-size: 400% 400%;
  animation: animate 5s infinite alternate;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
  text-indent: 50px;
}

a {
  color: black;
  font-weight: bold;
}

/* Cabeçalho */
header#cabecalho img#icone {
  width: 180px;
  height: auto;
  border-radius: 100px;
}

header#cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 10px 20px;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

header#cabecalho h1 {
  font-family: 'FonteLogo', sans-serif;
  font-size: 20pt;
  color: #000000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
  padding: 0px;
  margin-top: 10px;
}

/* Formatação do cabeçalho do artigo*/
header#cabecalho-artigo h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20pt;
  color: black;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  margin-top: 50px;
  padding-bottom: 0px;
}

header#cabecalho-artigo h3 {
  font-size: 12pt;
  color: #606060;
}

/*Formatação de imagens com legendas*/
figure.foto-legenda {
  position: relative;
  border: 4px solid white;
  width: 300px;
  height: 300px;
}

figure.foto-legenda img {
  width: 300px;
  height: 300px;
}

figure.foto-legenda figcaption {
  opacity: 0;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(226, 218, 218);
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
  opacity: 1;
}

/* Menu*/
nav#menu {
  display: flex;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  
}

nav#menu ul {
  display: flex; 
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
}

nav#menu ul.show {
  display: flex;
}

nav#menu li {
  display: inline;
  font-weight: bold;
  font-size: 16pt;
  color: aliceblue;
}

nav#menu h1 {
  display: none;
}

nav#menu a {
  color: aliceblue;
  text-decoration: none;
}

nav#menu a:hover {
  color: #E4B124;
  text-decoration: underline;
}

#btn-menu {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #E4B124;
  cursor: pointer;
}

section#corpo {
  display: block;
  width: 580px;
  float: left;
  padding-right: 15px;
}

article#noticia-principal h2 {
  font-size: 13pt;
  color: #ffffff;
  background-color:  #222020;
  padding: 5px 0px 5px 10px;
  margin: 10px 0px 10px 0px;
}

/*formatação da tabela*/
table#tabelaespec {
  border: 1px solid #030303;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

table#tabelaespec td {
  border: 1px solid #3f3d3d;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
}

table#tabelaespec td.ce {
  color: #ffffff;
  background-color: #0e0e0e;
}

table#tabelaespec td.cd {
  background-color: #cecece;
}

table#tabelaespec caption {
  color: #0f0f0f;
  font-size: 20p;
  font-weight: bolder;
}

table#tabelaespec caption span {
  display: block;
  float: right;
  color: black;
  font-size: 10px;
  margin-top: 10px;
}

aside#lateral {
  display: block;
  width: 440px;
  float: right;
  padding-right: 30px;
  background-color: #E4B124;
  padding: 25px;
  margin-top: 10px;
}

aside#lateral h1 {
  font-family: 'FonteLogo', sans-serif;
  font-size: 20pt;
  color: #0c0b0b;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
  margin-top: -8px;
}

aside#lateral h2 {
  background-color:  #222020;
  font-size: 13pt;
  color: #ffffff;
  padding: 5px;
}

video#filme {
  width: 420px;
  height: 300px;
  background-color: #000000;
}

footer#rodape {
  clear: both;
  border-top: 1px solid #606060;
}

footer#rodape p {
  text-align: center;
}

div#interface {
  max-width: 1100px;
  width: 100%;
  margin: -20px auto 10px auto;
  padding: 10px 10px 10px 10px;
  background-color: transparent;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Responsividade para dispositivos móveis */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  div#interface {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  header#cabecalho {
    flex-direction: row; 
    height: auto;
    padding: 10px 20px;
    text-align: center;
    position: relative; 
  }

  header#cabecalho img#icone {
    width: 120px;
    margin-bottom: 0;
  }

  #btn-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1000;
  }

  
  nav#menu ul {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #000;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 60px;
    padding-left: 20px;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    z-index: 999;
    gap: 0;
    margin: 0;
  }

  nav#menu ul.show {
    transform: translateX(0);
  }

  nav#menu li {
    display: block;
    margin: 15px 0;
    line-height: normal;
    font-size: 14pt;
  }

 
  #menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
  }

  #menu-overlay.show {
    display: block; 
  }

  section#corpo,
  aside#lateral {
    width: 100%;
    float: none;
    padding: 10px;
    box-sizing: border-box;
  }

  aside#lateral {
    margin-top: 20px;
    padding: 15px;
  }

  figure.foto-legenda {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
  }

  figure.foto-legenda img {
    width: 100%;
    height: auto;
  }

  video#filme {
    width: 100%;
    height: auto;
  }

  table#tabelaespec {
    width: 100%;
    font-size: 12px;
  }

  table#tabelaespec td {
    padding: 5px;
  }
}

@media screen and (max-width: 480px) {
  header#cabecalho-artigo h1 {
    font-size: 16pt;
    margin-top: 20px;
  }

  nav#menu ul {
    width: 200px;
  }

  #btn-menu {
    right: 15px;
    top: 15px;
  }

  section#corpo,
  aside#lateral {
    padding: 5px;
  }

  p {
    text-indent: 20px;
  }
}
